<ion-view title="Dashboard | {{'CREDIT' | translate}}: {{loggedUser.credit}} CZK | UID: {{loggedUser.id}}">
  <ion-content class="padding">

    <h4>{{'VALID_TICKETS' | translate}}</h4>

    <i data-ng-show="tickets === undefined" class="icon ion-loading-c"></i>    

    <div class="table" data-ng-hide="tickets.length === 0" ng-repeat="t in tickets">
      <div class="row">
        <div class="col col-40">#{{ t.id }}</div>
        <div class="col col-10">{{ t.remains }}</div>
        <div class="col col-50">{{ t.expires | nicedate }}</div>
      </div>
      <div class="row">{{ t.desc }}</div>
    </div>

    <div class="alert alert-danger" role="alert" data-ng-show="tickets.length === 0">
      {{'NO_VALID_TICKETS' | translate}}
    </div>

  </ion-content>
</ion-view>
